@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center"> 
    <h1 class="mainTitle">RESTAURANT</h1>
</div>
<div class="container-main">
    <div class="" style="font-size:22px">Haftanın Menüleri</div>
</div>

<div class="row">
    <div class="col-md-4">
        <p style="margin-top:30px">
            SARAY RESTAURANT
        </p>
    </div>
    <div class="col-md-4">
        MENU 1
        <img src="~/Content/Resimler/image.jpg" width="200px" height="150px" />
    </div>
    <div class="col-md-4">
        MENU 2
        <img src="~/Content/Resimler/image.jpg" width="200px" height="150px" />
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>
            ÖZGÜN RESTAURANT
        </p>
    </div>
    <div class="col-md-4">
        MENU 2
        <img src="~/Content/Resimler/image.jpg" width="200px" height="150px" />
    </div>
    <div class="col-md-4">
        MENU 2
        <img src="~/Content/Resimler/image.jpg" width="200px" height="150px" />
    </div>
</div>